.home {
  background: black url("../public/homeshape-bg.png") center no-repeat;
  background-size: cover;
  z-index: 10;
}
.header-down {
  display: flex;
}
.header-down > div {
  flex: 1;
}
.highlights {
  margin-top: 2em;
  margin-left: 2em;
  padding: 2em 0 2em 2em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.highlights > h1 {
  font-size: 2.3em;
}
.highlights > p {
  font-size: 1.3em;
  font-weight: 300;
}
.forward {
  padding: 0.8em;
  border-radius: 50px;
  background-color: white;
  color: black;
}
.buttons {
  display: flex;
  gap: 2em;
}
.arrows {
  display: flex;
  gap: 1em;
}
.arrow {
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  padding: 0.5em;
  cursor: pointer;
}
.arrow:hover {
  color: #37e0f7;
  background: white;
}
.robot-image {
  background: url("../public/home.png") no-repeat;
  background-position: right;
  background-size: contain;
  z-index: 100;
}

@media (width < 600px) {
  .home {
    padding: 1em;
  }
}

@media (width < 800px) {
  .arrows {
    margin: auto;
  }
  .robot-image {
    display: none;
  }
}
